/* start of website background code */
html {
    height:100%;
  }
  
body {
    background: linear-gradient(-45deg, #057001, #10247e, #920a0a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Playfair Display', serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* for hero conatiner */
.hero h1, .hero p {
    text-align: center;
}

.hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero h4 {
    text-align: right;
}

.hero {
    border-radius: 6px;
}

/* top stock cards */
/* .top-card {
    border-width: 1px;
    border-color: #c9c9c9;
    border-style: solid;
    border-radius: 25px;
} */

/* main contents boxes */
.box-borderline {
    border-color: #c9c9c9;
    border-width: 4px;
    border-style: solid;
}

.box-header {
    text-align: center;
}

.search-box {
    text-align: center;
}

/* search history table */
.stock-table th, .stock-table td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 15px;
    border-style: solid;
    border-width: 1px;
}

/* trying to get the arrows to stay inside currency exchange at laptop 1024px viewport*/
/* .stock-table-container {
    overflow-x: scroll;
    border-collapse: collapse;
} */

.currency-table-container {
    overflow: scroll;
}

/* currency exchange table */
.currency-table th, .currency-table td {   
    padding-right: 15px;
    padding-left: 20px;
    /* font-size: 17px; */
}

#eurArrow {
    text-align: center;
}

#inrArrow {
    text-align: center;
}

#jpyArrow {
    text-align: center;
}

#gbpArrow {
    text-align: center;
}

#cadArrow {
    text-align: center;
}

#kwdArrow {
    text-align: center;
}

/* footer */
footer {
    border-radius: 6px;
    background-color: #363636;
    color: #fff;
}

strong {
    color: #fff;
}
