.hero {
    text-align: center;
}

.stock-table th, .stock-table td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
}

.currency-table th, .currency-table td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}